:host {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
}

/** ----------------------- ID ----------------------- **/

#godot_canvas {
    float:left;
    width:100%;
}
#canvas {
    float:left;
    width: 100%;
    height: 100%;
}
#camera_sensor_canvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
}
#terminal_area {
    right: 0;
    top: 0;
    width: 30vw;
    height: 100%;
    background-color: transparent;
    display: none;
    margin: 0;
    padding: 0;
    resize: horizontal;
}
#terminal {
    background-color: #ffffffbf;
    color: black;
    resize: none;
    width: inherit;
    height: calc(100% - 20px);
    padding-top: 20px;
}
#resizer {
    position: absolute;
    transform: translate(-5px, 0);
    top: 0;
    left: 0;
    width: 8px;
    height: inherit;
    background-color: transparent;
    border: none;
    cursor: ew-resize;
}
#gif {
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    width: -ms-fill-available;
}

/** ----------------------- Global ----------------------- **/

.show_above_canvas {
    position: absolute;
    z-index: 1;
}

/** ----------------------- TAG ----------------------- **/

div.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #081646;
    color: white;
    display: flex;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
div.footer > * {
    margin-left: 20px;
}
div.footer > span {
    height: inherit;
    display: inline-block;
}

span.section_seperator {
    width: 2px !important;
    min-width: 2px !important;
    max-width: 2px !important;
    background-color: black !important;
}

div.gif_area {
    width: 50%;
    transform: translate(50%, 50%);
}

span.button_section {
    height: inherit;
    display: inline-block;
    text-align: center;
}
span.button_section {
    text-align: center;
}

span.button_section > button {
    margin-top: 6px;
    display: inline-block;
    border: none;
    background-color: white;
    min-width: 120px;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: transform 0.2s, box-shadow 0.2s;
}
span.button_section > button:active {
    background-color: rgb(163, 163, 163);
}
span.button_section > button:disabled {
    background-color: #1d1d1d;
}


span.info_section {
    height: inherit;
    display: inline-block;
    background-color: #081646;
    transition: transform 0.25s;
}

div.shrink_status {
    transition: transform 1s;
    transform: translate(0, 90px);
}
div.expand_status {
    transition: transform 1s;
    transform: translate(0, 0);
}

/** ----------------------- Animations ----------------------- **/

/*EMPTY*/
